<?xml version="1.0" encoding="UTF-8" ?>

<suite name="Orange-HRM">
    <test name="OrangeHRM-Test">
        <classes>
            <class name="com.sf.DummyTests.DummyTest"> </class>
            <class name="com.sf.DummyTests.DummyTest2"></class>
            <class name="com.sf.DummyTests.LoginPageTest"></class>
        </classes>
    </test>
</suite>